html {
  height: 100vh;
}

.App {
  /* text-align: center; */
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 980px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  padding: 5px;
}

.header-items {
  font-size: 1.2rem;
  color: darkgray !important;
}

.title {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title>a:hover, .header-items>a:hover {
  color: dodgerblue;
}

.title>a, .header-items>a {
  color: unset;
  text-decoration: none !important;
}

.project_section {
  padding: 20px 0;
  line-height: 20px;
  
  .title {
    color: #999;
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 0 20%;
  }
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
  overflow: hidden;
  width: 80%;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
}

a {
  text-decoration: none !important;
  color: dodgerblue;
}

.contents.flex {
  display: flex;
}

.profile {
  width: 200px;
  padding: 20px;
}

.contacts>div {
  padding: 4px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.profile .contacts {
  display: flex;
  flex-direction: column;
}

.profile div span {
  font-size: 1.2rem;
  margin-right: 4px;
}

.MuiSvgIcon-root {
  margin-right: 4px;
  width: 0.9em !important;
  height: 0.9em !important;
}

.bio {
  width: calc(100% - 200px);
}

.bio.full-width {
  width: 100%;
}

.bio>div {
  padding: 14px;
}

.intro>p {
  line-height: 24px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.BioItem, .PaperItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 0.9rem;
}

.teaserImg {
  width: 160px;
  height: 120px;
  margin: 5px;
  background-size: cover;
  background-position: top left;
  transition: all 2s,
}

.teaserImg:hover {
  background-position: bottom right;
}

.BioItem .main {
  width: 70%;
}

.PaperItem .main {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PaperItem .main .mainItem {
  width: 90%;
}

.BioItem .sub, .PaperItem .sub {
  color: grey;
}

.BioItem .title, .PaperItem .title {
  padding-bottom: 8px;
  font-size: 1.1rem;
}



.venue {
  font-style: italic;
}

.linkItems {
  display: flex;
}
.linkItems>div {
  padding-right: 8px;
}

/* media query */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  html {
    /* font-size: 14px; */
  }
  .contents.flex {
    flex-direction: row;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1500px) {
  html {
    /* font-size: 14px; */
  }

  .contents.flex {
    flex-direction: row;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .contents.flex {
    flex-direction: row;
  }

  .teaserImg {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .contents.flex {
    flex-direction: row;
  }
  
  .bio {
    width: 100%;
  }

  .teaserImg {
    width: 130px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* For tablets: */
  .contents.flex {
    flex-direction: column;
  }


  .profile {
    display: flex;
    justify-content: space-between;
  }

  .bio {
    width: 100%;
  }

  .teaserImg {
    width: 100%;
    min-height: 350px;
    max-height: 400px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .PaperItem {
    flex-direction: column;
    align-items: unset;
    width: 100%;
  }

  .PaperItem .main {
    width: 100%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }
  .contents.flex {
    flex-direction: column;
  }

  .bio {
    width: 100%;
  }

  .profile {
    display: flex;
  }

  .teaserImg {
    width: 100%;
    min-height: 130px;
    max-height: 200px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .PaperItem {
    width: 100%;
    padding: 5px;
    font-size: 0.8rem;
    flex-direction: column;
    align-items: unset;
  }

  .PaperItem .main {
    width: 100%;
  }
}

